.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 1.5rem;
  width: 60%;
  margin:auto;
  border: 1px solid #dedede;
  border-radius: 1rem;
  margin-top: 50px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.grid {
  margin-bottom: 50px;
}
.card {
  border-bottom: 1px solid #4b4b4b;
}

.button {
  padding: .75rem;
  border-radius: .75rem;
  background-color: blueviolet;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}

.button:hover{
  background-color: #a453f0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
  }
}

